/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/message
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
storage/message/image/Fs3vSvHJPl9zttOn0l0OlAIgAeaRfvkyTumzzXIF.png
storage/message/image/GwT3EjnDupYrtdXJisqymPNVbAjvjC6VWuvFu39B.jpg
storage/message/image/IV13BppJnhSgyvUzFByZqpZQ54XJp33gYskxNC6Q.jpg
storage/message/image/os34Ux5qxkdLsLuNSW3qUJX4IcZDOQEHO1NFCsT6.jpg
storage/message/image/rrHKFBro5TPuWrnpkFs1R0ZlBsvDPstiYqQfnPcY.jpg
storage/message/image/x7ympia4EswBY1NNKoZTEQhHyHvfYEcS05AkePkT.jpg
storage/message/image/ZaBob0nzQEUtK41lpbHWPyeGpVZRQuK9D3ETnEFy.jpg
database/schema/mysql-schema.sql
