/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/message
storage/message/image
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
database/schema/mysql-schema.sql
public/asset/profile/image/Frzs15Vk24U8o5QHAaKJAlzexmu5ujk8ngRcxEcU.jpg
