@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.87 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.87 0 0);

    --button-and-border-color: #898989;
    --button-hover-color: rgb(243 243 243);
    --primary-btn-color-light: #262626; 
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.985 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.985 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}



    /* For chat left message */
    .chat-left-message-light{
        background-color: rgb(237 237 237);
    }
    .chat-left-message-dark{
        background-color: #171717;
        color: rgb(237 237 237);
    }
    /* For chat right message */
    .chat-right-message-light{
        color: white;
        background-color: #262626;
    }
    .chat-right-message-dark{
        color: #262626;
        background-color: white;
    }
    /* For chat header */
    .chat-header-light{
        border: 1px solid var(--button-and-border-color);
    }
    .chat-header-dark{
        box-shadow: 0px 0px 2px var(--button-and-border-color);
    }
    /* For back button and info button hover effect */
    .chat-header-buttons-hover-light{
        background-color: rgb(243 243 243);
    }
    .chat-header-buttons-hover-dark{
        background-color: #171717;
    }
    /* For message input box */
    .message-input-box-light{
        background: var(--button-hover-color);
    }
    .message-input-box-dark{
        box-shadow: 0px 0px 2px var(--button-hover-color);
    }
    .message-input-box-focus-light{
        background: rgb(255 255 255);
        box-shadow: 0px 0px 2px rgb(201 201 201);
    }
    .message-input-box-focus-dark{
        background: #171717;
    }
    /* For image upload button and send button */
    .upload-send-button-light{
        color: var(--primary-btn-color-light);
    }
    .upload-send-button-dark{
        color: var(--button-and-border-color);
    }
    .upload-send-button-hover-light{
        background-color: var(--button-hover-color);
    }
    .upload-send-button-hover-dark{
        background-color: #171717;
    }


    
    .dp-container img {
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
    }

    .recipient-dp img {
        width: 25px;
        border-radius: 50%;
        object-fit: cover;
    }

    .chat-container {
        display: flex;
        flex-direction: column;
        padding: 30px 10px;
        max-height: 76vh;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        gap: 10px;
    }

    .chat-container::-webkit-scrollbar {
        display: none;
    }

    .message-container {
        display: flex;
        flex-direction: column;
        gap: 3px;
        padding-bottom: 8px;
    }

    .message-container .message {
        padding: 5px;
        width: fit-content;
    }

    .chat-container .chat {
        display: flex;
        align-items: end;
        gap: 10px;
    }

    .chat-container .chat-left .message:first-child {
        border-top-left-radius: 10px;
    }

    .chat-container .chat-left .message {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .chat-container .chat-left .message:last-child {
        border-bottom-left-radius: 10px;
    }

    .chat-container .chat-right .message-box:first-child .message {
        border-top-right-radius: 10px;
    }

    .chat-container .chat-right .message-box .message {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .chat-container .chat-right .message-box:last-child .message {
        border-bottom-right-radius: 10px;
    }

    .chat-container .chat-right {
        justify-content: end;
        flex-direction: row-reverse;
    }
    .chat-container .chat-right .message-container{
        align-items: end;
    }

    .chat .message {
        max-width: 400px;
    }

    .message-box {
        display: flex;
        align-items: end;
        gap: 2px;
    }

    .message-box:last-child .message-right {
        display: block;
        margin-bottom: 30px;
    }

    .recipient-header-dp img {
        width: 45px;
        border-radius: 50%;
        object-fit: cover;
    }

    .chat-header {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-radius: 5px;
    }

    .chat-header-left {
        display: flex;
        gap: 10px;
    }

    .recipient-dp-header-and-idicator {
        display: flex;
        gap: 20px;
    }

    .recipient-dp-header-and-idicator .idicator {
        display: flex;
        justify-content: space-between;
        gap: 6px;
        align-items: center;
        width: fit-content;
        font-size: 13px;
    }

    .recipient-dp-header-and-idicator .idicator .idicator-icon {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-bottom: 1px;
    }

    .back-button-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .back-button {
        font-size: 30px;
        color: var(--button-and-border-color);
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
    }

    .chat-header .info-container .info-icon {
        font-size: 15px;
        display: block;
        width: 25px;
        height: 25px;
        text-align: center;
        border-radius: 50%;
        font-weight: 900;
    }

    .chat-header .info-container .info {
        padding: 10px;
    }

    .chat-header .info-container .info:hover {
        cursor: pointer;
        border-radius: 50%;
    }

    .recipient-name {
        font-size: 17px;
    }

    .name-and-idicator {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
    }
    .chat-sendbox{
        display: flex;
        width: 100%;
        padding-top: 10px;
        gap: 5px;
    }
    .chat-sendbox > *{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .message-box-container{
        flex: 1;
    }
    .message-input-box{
        width: 100%;
        padding: 5px 15px;
        resize: none;
        outline: none;
        height: 35px;
        border-radius: 20px;
    }
    .image-file,
    .send-button-container button{
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 50%;
    }
    @media screen and (max-width: 1023px) {
        .chat-container {
            max-height: 73vh;
        }
    }
    @media screen and (max-width: 800px) {
        .chat-container {
            max-height: 72vh;
        }
        .chat .message {
            max-width: 300px;
        }
        .dp-container img {
            width: 30px;
        }
        .recipient-dp img {
            width: 20px;
        }
        .chat-container .chat .message {
            font-size: 14px;
        }
    }
    @media screen and (max-width: 500px) {
        .chat .message {
            max-width: 240px;
            line-height: 25px;
            padding: 10px;
        }
        .dp-container img {
            width: 30px;
        }
        .recipient-dp img {
            width: 20px;
        }
        .chat-container .chat .message {
            font-size: 14px;
        }
        .message-input-box{
           font-size: 15px;
        }
    }
    @media screen and (max-height: 800px) {
        .chat-container {
            max-height: 70vh;
        }
    }
    @media screen and (max-height: 750px) {
        .chat-container {
            max-height: 67vh;
        }
    }
    @media screen and (max-height: 700px) {
        .chat-container {
            max-height: 65vh;
        }
    }


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}